.layout_sermon{

	margin-bottom: 2rem;

	.content{
		display: inline-block;
	}

	.small{
		font-size: 0.9rem;
	}

	.mejs-container, .mejs__container{
		margin-top: $base-spacing-unit;
	}
	
	.enclosure a{
		padding-top: $base-spacing-unit/2;
	}
}