html{
	--sermon-table-spacing-unit: var(--base-spacing-unit);
	--sermon-table-heading-background-color: var(--color-gray-light);
	--sermon-table-heading-text-color: var(--color-text);
	--sermon-table-border-color: var(--base-border-color);

}

.layout_sermon{

	//margin-bottom: 2rem;

	.content{
		display: inline-block;
	}

	.small{
		font-size: 0.9rem;
	}

	.mejs-container, .mejs__container{
		margin-top: var(--base-spacing-unit);
	}
	
	.enclosure a{
		padding-top: calc(var(--base-spacing-unit)/2);
	}
}

.table_head, .media{
	display: none;
}

.layout_sermon{
	margin-bottom: var(--base-spacing-unit--lg);
	.content{
		display: block;
	}

	.subject{
		color: var(--color-brand);
		font-size: var(--base-font-size--xl);
		font-weight: bold;
	}
	.date{
		float: left;
		margin-right: var(--base-spacing-unit);
	}
}

@include media-query(screen-md){
	.sermon{
			display: table;
			width: 100%;
	}

	.layout_simple.layout_sermon {
		display: table-row;

		.content{
			border-bottom: 1px solid var(--sermon-table-border-color);
		}

		&.table_head {
			background-color: var(--sermon-table-heading-background-color);
			color: var(--sermon-table-heading-text-color);
			font-weight: bold;
		}

		.cell {
			display: table-cell;
			float: left;
			padding: var(--sermon-table-spacing-unit);
			//border: 1px solid grey;
		}

		.media{
			width: 5%;
		}
		.skript{
			width: 5%;
		}
		.subject{
			width: 50%;
			color: var(--color-text);
			font-size: var(--base-font-size);
			font-weight: var(--base-font-weight);
		}
		.date{
			width: 15%;
		}
		.pracher{
			width: 25%;
		}

		audio, .enclosure {
			display: none;
		}
	}
}
