.mod_slick_eventlist, .mod_slick_newslist{
  margin-top:-5rem;
  padding-top:5rem;
}

.ce_slick-slider
{
  padding-top: 3rem;
}

.slick-slide{
  @include padding-default();
}

.slick-container:focus, .slick-slide:focus{
  outline: 0;
  border: 0;
}

.slick-next, .slick-prev{
  border: none;
  background: var(--color-page-background);
  font-size: 2rem;
  top: -3.7rem;
  position: absolute;
  z-index: 1;
  padding: 0 1rem;
  width: 50px;

  &:hover, &:active, &:focus{
    outline: 0;
    border: 0;
  }

  &::before{
    position: relative;
    content: "";
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: 0.6em;
    height: 0.6em;
    transform: rotate(45deg);
    //margin-right: 0.5em;
  }
}

.slick-next{
  right: var(--grid-gutter-half);

  &::before{
    border-right: 0.2em solid var(--color-default);
    border-top: 0.2em solid var(--color-default);
    margin-left: -5px;

  }
}

.slick-prev{
  right: calc(var(--grid-gutter)*2);

  &::before{
    border-left: 0.2em solid var(--color-default);
    border-bottom: 0.2em solid var(--color-default);
  }
}