/* Tiles */
//Use image links instead seperate tiles
.tiles {
  .caption {
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .25em;
  }
}