// *
// * Erdmann & Freunde - Nutshell
// * Starterkit
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE 
// *

//
// COMPONENTS/EVENTS
// --------------------------------------------------

// VARIABLES

// USED FROM _variables.scss

// --------------------------------------------------

@import "../../../vendor/erdmannfreunde/euf_nutshell/files/nutshell/scss/components/events";

// --------------------------------------------------


// PUT YOUR OWN STYLES HERE
.events-grid {
  @include make-row;

  margin-bottom: $base-spacing-unit;

  > {
    #{headings()} {
      @include padding-default;

      &:after {
        border-top: $news-border;
        content: "";
        display: block;
      }
    }
  }

  .layout_teaser,
  .event,
  .header {
    @include column-floating;

    margin-top: $base-spacing-unit;

    @include media-query(screen-sm) {
      @include make-col((12 / $news-grid-columns--sm));

      &:nth-of-type(#{$news-grid-columns--sm + n} + 1) {
        clear:both;
      }
    }

    @include media-query(screen-md) {
      @include make-col((12 / $news-grid-columns--md));

      &:nth-of-type(n) {
        clear: none;
      }

      &:nth-of-type(#{$news-grid-columns--md + n} + 1) {
        clear: both;
      }
    }

    @include media-query(screen-lg) {
      @include make-col((12 / $news-grid-columns--lg));

      &:nth-of-type(n) {
        clear: none;
      }

      &:nth-of-type(#{$news-grid-columns--lg + n} + 1) {
        clear: both;
      }
    }
  }
}