// *
// * Erdmann & Freunde - Nutshell
// * Starterkit
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE 
// *

//
// COMPONENTS/NAVIGATION
// --------------------------------------------------

// VARIABLES

// USED FROM _variables.scss

// --------------------------------------------------

//@import "../../../../../../erdmannfreunde/euf_nutshell/files/nutshell/scss/components/navs";

// --------------------------------------------------

// PUT YOUR OWN STYLES HERE
.nav-head {
    width: 100%;
    line-height: 4rem;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 0.5rem;

    a, strong.active{
        text-decoration: none;
        position: relative;
        padding: 0 1rem;        
    }

     a:hover{
        color: var(--color-gray);
        transition: color 0.3s ease;
    }
}

@include media-query(screen-md) {
	 .nav-head{
      	float: right;
      	
        font-size: 1rem;
        width: auto;

        //Make everything visible
        position: relative;
        height: auto;
        display: block;
        top: 0;
        left: 0;
    }
}