// *
// * Erdmann & Freunde - Nutshell
// * Starterkit
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE 
// *

//
// PUT YOUR OWN VARIABLES HERE
// --------------------------------------------------

// --------------------------------------------------



// --------------------------------------------------


// General Colors
html {
  --color-default:            #0A4277;
  --color-gray-dark:          #585858;
  --color-gray:               #555;
  --color-gray-light:         #ccc;

  //--color-brand:              var(--color-default);
  //--color-highlight:          var(--color-brand);

  // Page
  //--color-page-background:    #fff;
  //--color-text:               var(--color-gray-dark);
  //--color-text--inverted:     var(--color-page-background);

  //Footer Colors
  --color-footer-background: #f6f6f6;
  --color-footer-text: var(--color-text);
  --color-footer-link: var(--color-links);

  // Links
  //--color-links:              var(--color-highlight);

  // Buttons
  --color-btn:                var(--color-links);
  --color-btn-text:           var(--color-text--inverted);

  // Base Font Settings
  --base-font-size--xs:       0.875rem;
  --base-font-size:           1rem;
  --base-font-size--xl:       1.125rem;

  --base-line-height:         1.625;
  --base-font-weight:         400;

  --base-font-family:         "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;

  --headings__font-family:    var(--base-font-family);

  // Base Spacing Units
  --base-spacing-unit: 1rem;

  --base-spacing-unit--xs:    calc(var(--base-spacing-unit) / 4);
  --base-spacing-unit--sm:    calc(var(--base-spacing-unit) / 2);

  --base-spacing-unit--lg:    calc(var(--base-spacing-unit) * 2);
  --base-spacing-unit--xl:    calc(var(--base-spacing-unit) * 4);

  // Base Border Settings
  --base-border-radius:       4px;
  --base-border-width:        1px;
  --base-border-color:        var(--color-gray-light);

  --base-border:              var(--base-border-width) solid var(--base-border-color);
}

$color-accent:	(#0B457D,
                 #7ecaf6,
                  #7bd0c1,
                  #c75b9b,
                  #ae85ca,
                  #8499e7);


//hamburgers variables
$hamburger-padding-x                       : 0rem;
$hamburger-padding-y                       : 1.5rem;
$hamburger-layer-width                     : 2rem;
$hamburger-layer-height                    : 0.3rem;
$hamburger-layer-spacing                   : 0.3rem;
$hamburger-layer-color                     : var(--color-brand);
$hamburger-layer-border-radius             : 0.2rem;
$hamburger-types: (
  squeeze
);
