@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.hamburger{
	@include media-query(screen-offcanvas) {
        display: none;
     }
}

.hamburger:focus{
	outline: none;
}

.hamburger-right{
	float: right;
}

.hamburger-left{
	float: left;
}

.hamburger-label{
	display: block;
	float: left;
	padding: 0 1rem;
}

