// *
// * Erdmann & Freunde - Nutshell
// * Starterkit
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE 
// *

//
// BASE/TYPE
// --------------------------------------------------


// USED FROM _variables.scss

// --------------------------------------------------

// --------------------------------------------------

// PUT YOUR OWN STYLES HERE
h1{
  color: var(--color-default);
}

h6{
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
